.header1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
.background {
  background-color: black;
  text-align: center;
}
 .download {
   font-size: 16px:
   color: Aquamarine;
 }
 .header2 {
   font-family: Verdana;
   font-weight: 300;
   font-size: 42px;
   color: white;
   text-align: center;
}
.paragraph {
  font-family: Verdana;
  font-weight: normal;
  font-size: 21px;
  color: grey;
  text-align: center;
}
.copyright{
  font-family: Verdana;
  font-weight: normal;
  font-size: 20px;
  color: grey;
  text-align: right;
}
